## Kurs Performansına göre yeni yetenek keşfi

Kursun 4 haftalık süreci bitmiş durumda. Bu 4 haftalık süreçte kursiyerlerin derslere ve mentor görüşmelerine katılımı, zorunlu ve seçmeli ödevlerin kaçını yaptığı, udemy deki derslerde nerede olduklarının kaydı tutulmuştur. Mentorler öğrencilerine teknik ve uyum puanı vermişlerdir.

4 haftalık süreçte:
- 8 Ders, 3 Mentor Görüşmesi yapıldı.
- 8 Zorunlu, 9 Seçmeli ödev verildi.
- Udemydeki 15 dersin bitirilmesi istendi.





### Veri Seti

- id - her bir öğrenci için unique
- Öğrenci_Adı_Soyadı - öğrencinin ismi ve soyadı
- Mentor_Adı - öğrencinin mentorunun adı
- Katıldığı_Ders - öğrencinin katıldığı toplam ders sayısı
- Katıldığı_Mentor_Görüşmesi - öğrencinin katıldığı top mentor görüşmesi sayısı
- Zorunlu_Ödev - öğrencinin yaptığı toplam zorunlu ödev sayısı
- Seçmeli_Ödev - öğrencinin yaptığı toplam seçmeli ödev sayısı
- Udemy_İzlenilen_Ders - öğrencinin udemyde izledi toplam bölüm sayısı
- Grup_Numarası - öğrencinin bulunduğu grubun numarası
- Mentor_Teknik_Puanı - mentorun öğrenciye verdiği teknik puan (1-5)
- Mentor_Uyum_Puanı - mentorun öğrenciye verdiği uyum puanı (1-5)
- Durum - öğrencinin üniversite, yüksek lisans veya çalışıyor olduğunu gösteriyor

In [4]:
import pandas as pd
import numpy as np

In [5]:
#veri setini okut
df = pd.read_excel("DSBC_degerlendirme.xlsx")

In [6]:
df.head() #ilk 5

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım
0,1,Bartu Yaman,ATİLLA,6,3,8,6,4,1,4,4,Üniversite,1
1,2,Selin ÖZENÇ,ATİLLA,6,1,6,5,3,1,3,4,Çalışıyor,3
2,3,Aslı CERMAN,ATİLLA,8,3,8,6,7,1,4,5,Yüksek Lisans,1
3,4,Mert Açıkgöz,ATİLLA,8,3,8,9,15,1,5,3,Üniversite,1
4,5,Semra Tebrizcik,ATİLLA,6,2,3,1,4,1,3,2,Çalışıyor,2

In [7]:
df.tail() #son 5

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım
69,70,Elif OZTURK,GÜNCE,8,3,7,6,8,5,4,4,Üniversite,1
70,71,Hüseyin Kaya,GÜNCE,7,2,8,6,5,5,5,4,Üniversite,2
71,72,Emre Gur,GÜNCE,7,1,7,2,5,5,4,5,Çalışıyor,3
72,73,Esat Akköse,GÜNCE,7,3,8,6,7,5,5,5,Üniversite,1
73,74,Umut Altun,GÜNCE,6,3,6,3,4,5,4,4,Çalışıyor,1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 13 columns):
Id                            74 non-null int64
Öğrenci_Adı_Soyadı            74 non-null object
Mentor_Adı                    74 non-null object
Katıldığı_Ders                74 non-null int64
Katıldığı_Mentor_Görüşmesi    74 non-null int64
Zorunlu_Ödev                  74 non-null int64
Seçmeli_Ödev                  74 non-null int64
Udemy_İzlenilen_Ders          74 non-null int64
Grup_Numarası                 74 non-null int64
Teknik_Puan                   74 non-null int64
Uyum_Puan                     74 non-null int64
Durum                         74 non-null object
En_Son_Katılım                74 non-null int64
dtypes: int64(10), object(3)
memory usage: 7.6+ KB

In [9]:
#boş veri var mı?
df.isna().sum()

Id                            0
Öğrenci_Adı_Soyadı            0
Mentor_Adı                    0
Katıldığı_Ders                0
Katıldığı_Mentor_Görüşmesi    0
Zorunlu_Ödev                  0
Seçmeli_Ödev                  0
Udemy_İzlenilen_Ders          0
Grup_Numarası                 0
Teknik_Puan                   0
Uyum_Puan                     0
Durum                         0
En_Son_Katılım                0
dtype: int64

In [10]:
#Kaç Mentor var?
df["Mentor_Adı"].nunique()

5

In [11]:
#Mentorların isimleri neler?
df["Mentor_Adı"].unique()

array(['ATİLLA', 'MUHAMMET', 'MEHMET', 'KASIM', 'GÜNCE'], dtype=object)

In [12]:
#Kaç öğrenci var?
df["Öğrenci_Adı_Soyadı"].count()

74

In [13]:
#Herbir mentorun kaç öğrencisi var?
a = df.groupby("Mentor_Adı").agg({"Öğrenci_Adı_Soyadı":"count"})
a.rename(columns={"Öğrenci_Adı_Soyadı":"Öğrenci_Sayısı"}, inplace=True)
a

            Öğrenci_Sayısı
Mentor_Adı
ATİLLA                  16
GÜNCE                   13
KASIM                   15
MEHMET                  15
MUHAMMET                15

In [14]:
#Mentorların grup numarası ne?
b = df.groupby(["Grup_Numarası","Mentor_Adı"]).agg({"Öğrenci_Adı_Soyadı":"count"})
b.rename(columns={"Öğrenci_Adı_Soyadı":"Öğrenci_Sayısı"}, inplace=True)
b

                          Öğrenci_Sayısı
Grup_Numarası Mentor_Adı
1             ATİLLA                  16
2             MUHAMMET                15
3             MEHMET                  15
4             KASIM                   15
5             GÜNCE                   13

In [15]:
#Üniversite, Yüksek Lisans vaya çalışıyor olan kişilerin toplamı
c = df.groupby("Durum").agg({"Öğrenci_Adı_Soyadı":"count"})
c.rename(columns={"Öğrenci_Adı_Soyadı":"Öğrenci_Sayısı"}, inplace=True)
c

               Öğrenci_Sayısı
Durum
Yüksek Lisans              11
Çalışıyor                  39
Üniversite                 24

In [16]:
#Herbir grup içerisindeki durum dağılımı
d = df.groupby(["Grup_Numarası","Durum"]).agg({"Id":"count"})
d.rename(columns={"Id":"Öğrenci_Sayısı"}, inplace=True)
d

                             Öğrenci_Sayısı
Grup_Numarası Durum
1             Yüksek Lisans               4
              Çalışıyor                   5
              Üniversite                  7
2             Yüksek Lisans               7
              Çalışıyor                   6
              Üniversite                  2
3             Çalışıyor                   8
              Üniversite                  7
4             Çalışıyor                  11
              Üniversite                  4
5             Çalışıyor                   9
              Üniversite                  4

## 1.Grup İncelemesi

In [17]:
df.head()

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım
0,1,Bartu Yaman,ATİLLA,6,3,8,6,4,1,4,4,Üniversite,1
1,2,Selin ÖZENÇ,ATİLLA,6,1,6,5,3,1,3,4,Çalışıyor,3
2,3,Aslı CERMAN,ATİLLA,8,3,8,6,7,1,4,5,Yüksek Lisans,1
3,4,Mert Açıkgöz,ATİLLA,8,3,8,9,15,1,5,3,Üniversite,1
4,5,Semra Tebrizcik,ATİLLA,6,2,3,1,4,1,3,2,Çalışıyor,2

In [18]:
#1.grup
g1 = pd.DataFrame()
g1 = df[df.Mentor_Adı == "ATİLLA" ]
g1

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım
0,1,Bartu Yaman,ATİLLA,6,3,8,6,4,1,4,4,Üniversite,1
1,2,Selin ÖZENÇ,ATİLLA,6,1,6,5,3,1,3,4,Çalışıyor,3
2,3,Aslı CERMAN,ATİLLA,8,3,8,6,7,1,4,5,Yüksek Lisans,1
3,4,Mert Açıkgöz,ATİLLA,8,3,8,9,15,1,5,3,Üniversite,1
4,5,Semra Tebrizcik,ATİLLA,6,2,3,1,4,1,3,2,Çalışıyor,2
5,6,Seda,ATİLLA,6,2,8,6,9,1,4,3,Üniversite,2
6,7,Tuğbay Tez,ATİLLA,6,2,8,5,15,1,4,4,Üniversite,2
7,8,Fatih Kulaksizoglu,ATİLLA,7,3,7,7,15,1,3,5,Üniversite,1
8,9,Ömer Gencay ünlü,ATİLLA,5,2,8,6,6,1,3,3,Çalışıyor,2
9,10,Aylin Tarakcı,ATİLLA,7,3,7,2,5,1,2,4,Yüksek Lisans,1
10,11,Hatice,ATİLLA,7,2,7,6,4,1,3,1,Yüksek Lisans,1
11,12,ŞENOL YILDIZ,ATİLLA,4,1,4,0,2,1,2,3,Üniversite,3
12,13,Emine Nisa KAPUKAYA,ATİLLA,6,2,7,3,5,1,2,2,Çalışıyor,2
13,14,Vildan ÜNLÜ,ATİLLA,5,3,6,2,3,1,3,4,Üniversite,1
14,15,Alican Şahin,ATİLLA,8,2,8,5,8,1,4,3,Yüksek Lisans,1
15,16,Reşat Uğur Ulu,ATİLLA,0,0,0,0,0,1,1,1,Çalışıyor,4

In [19]:
#1.gruptaki öğrencilerin görüşmeye katılım durumları
for i in range(len(g1)):
    print("{0} {1} ders, {2} mentor görüşmesi toplam {3} katılım".format(g1.Öğrenci_Adı_Soyadı[i],g1.Katıldığı_Ders[i],g1.Katıldığı_Mentor_Görüşmesi[i],g1.Katıldığı_Ders[i]+g1.Katıldığı_Mentor_Görüşmesi[i]))

Bartu Yaman 6 ders, 3 mentor görüşmesi toplam 9 katılım
Selin ÖZENÇ 6 ders, 1 mentor görüşmesi toplam 7 katılım
Aslı CERMAN 8 ders, 3 mentor görüşmesi toplam 11 katılım
Mert Açıkgöz 8 ders, 3 mentor görüşmesi toplam 11 katılım
Semra Tebrizcik 6 ders, 2 mentor görüşmesi toplam 8 katılım
Seda 6 ders, 2 mentor görüşmesi toplam 8 katılım
Tuğbay Tez 6 ders, 2 mentor görüşmesi toplam 8 katılım
Fatih Kulaksizoglu 7 ders, 3 mentor görüşmesi toplam 10 katılım
Ömer Gencay ünlü 5 ders, 2 mentor görüşmesi toplam 7 katılım
Aylin Tarakcı 7 ders, 3 mentor görüşmesi toplam 10 katılım
Hatice 7 ders, 2 mentor görüşmesi toplam 9 katılım
ŞENOL YILDIZ 4 ders, 1 mentor görüşmesi toplam 5 katılım
Emine Nisa KAPUKAYA 6 ders, 2 mentor görüşmesi toplam 8 katılım
Vildan ÜNLÜ 5 ders, 3 mentor görüşmesi toplam 8 katılım
Alican Şahin 8 ders, 2 mentor görüşmesi toplam 10 katılım
Reşat Uğur Ulu 0 ders, 0 mentor görüşmesi toplam 0 katılım

In [20]:
#dataframe e toplam katılımları ekledik
g1["Toplam_Katılım"] = g1.Katıldığı_Ders + g1.Katıldığı_Mentor_Görüşmesi
g1

/Users/simgeerek/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım,Toplam_Katılım
0,1,Bartu Yaman,ATİLLA,6,3,8,6,4,1,4,4,Üniversite,1,9
1,2,Selin ÖZENÇ,ATİLLA,6,1,6,5,3,1,3,4,Çalışıyor,3,7
2,3,Aslı CERMAN,ATİLLA,8,3,8,6,7,1,4,5,Yüksek Lisans,1,11
3,4,Mert Açıkgöz,ATİLLA,8,3,8,9,15,1,5,3,Üniversite,1,11
4,5,Semra Tebrizcik,ATİLLA,6,2,3,1,4,1,3,2,Çalışıyor,2,8
5,6,Seda,ATİLLA,6,2,8,6,9,1,4,3,Üniversite,2,8
6,7,Tuğbay Tez,ATİLLA,6,2,8,5,15,1,4,4,Üniversite,2,8
7,8,Fatih Kulaksizoglu,ATİLLA,7,3,7,7,15,1,3,5,Üniversite,1,10
8,9,Ömer Gencay ünlü,ATİLLA,5,2,8,6,6,1,3,3,Çalışıyor,2,7
9,10,Aylin Tarakcı,ATİLLA,7,3,7,2,5,1,2,4,Yüksek Lisans,1,10
10,11,Hatice,ATİLLA,7,2,7,6,4,1,3,1,Yüksek Lisans,1,9
11,12,ŞENOL YILDIZ,ATİLLA,4,1,4,0,2,1,2,3,Üniversite,3,5
12,13,Emine Nisa KAPUKAYA,ATİLLA,6,2,7,3,5,1,2,2,Çalışıyor,2,8
13,14,Vildan ÜNLÜ,ATİLLA,5,3,6,2,3,1,3,4,Üniversite,1,8
14,15,Alican Şahin,ATİLLA,8,2,8,5,8,1,4,3,Yüksek Lisans,1,10
15,16,Reşat Uğur Ulu,ATİLLA,0,0,0,0,0,1,1,1,Çalışıyor,4,0

In [21]:
#En çok katılımı gösteren kişi veya kişiler
g1[g1.Toplam_Katılım == g1.Toplam_Katılım.max()]["Öğrenci_Adı_Soyadı"]

2     Aslı CERMAN
3    Mert Açıkgöz
Name: Öğrenci_Adı_Soyadı, dtype: object

In [22]:
#1.gruptaki öğrencilerin ödev durumları
for i in range(len(g1.Öğrenci_Adı_Soyadı)):
    print("{0} {1} zorunlu, {2} seçmeli  toplam {3} ödev".format(g1.Öğrenci_Adı_Soyadı[i],g1.Zorunlu_Ödev[i],g1.Seçmeli_Ödev[i],g1.Zorunlu_Ödev[i]+g1.Seçmeli_Ödev[i]))

Bartu Yaman 8 zorunlu, 6 seçmeli  toplam 14 ödev
Selin ÖZENÇ 6 zorunlu, 5 seçmeli  toplam 11 ödev
Aslı CERMAN 8 zorunlu, 6 seçmeli  toplam 14 ödev
Mert Açıkgöz 8 zorunlu, 9 seçmeli  toplam 17 ödev
Semra Tebrizcik 3 zorunlu, 1 seçmeli  toplam 4 ödev
Seda 8 zorunlu, 6 seçmeli  toplam 14 ödev
Tuğbay Tez 8 zorunlu, 5 seçmeli  toplam 13 ödev
Fatih Kulaksizoglu 7 zorunlu, 7 seçmeli  toplam 14 ödev
Ömer Gencay ünlü 8 zorunlu, 6 seçmeli  toplam 14 ödev
Aylin Tarakcı 7 zorunlu, 2 seçmeli  toplam 9 ödev
Hatice 7 zorunlu, 6 seçmeli  toplam 13 ödev
ŞENOL YILDIZ 4 zorunlu, 0 seçmeli  toplam 4 ödev
Emine Nisa KAPUKAYA 7 zorunlu, 3 seçmeli  toplam 10 ödev
Vildan ÜNLÜ 6 zorunlu, 2 seçmeli  toplam 8 ödev
Alican Şahin 8 zorunlu, 5 seçmeli  toplam 13 ödev
Reşat Uğur Ulu 0 zorunlu, 0 seçmeli  toplam 0 ödev

In [23]:
#dataframe e toplam ödev sayısını ekledik
g1["Toplam_Ödev"] = g1.Zorunlu_Ödev + g1.Seçmeli_Ödev
g1

/Users/simgeerek/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım,Toplam_Katılım,Toplam_Ödev
0,1,Bartu Yaman,ATİLLA,6,3,8,6,4,1,4,4,Üniversite,1,9,14
1,2,Selin ÖZENÇ,ATİLLA,6,1,6,5,3,1,3,4,Çalışıyor,3,7,11
2,3,Aslı CERMAN,ATİLLA,8,3,8,6,7,1,4,5,Yüksek Lisans,1,11,14
3,4,Mert Açıkgöz,ATİLLA,8,3,8,9,15,1,5,3,Üniversite,1,11,17
4,5,Semra Tebrizcik,ATİLLA,6,2,3,1,4,1,3,2,Çalışıyor,2,8,4
5,6,Seda,ATİLLA,6,2,8,6,9,1,4,3,Üniversite,2,8,14
6,7,Tuğbay Tez,ATİLLA,6,2,8,5,15,1,4,4,Üniversite,2,8,13
7,8,Fatih Kulaksizoglu,ATİLLA,7,3,7,7,15,1,3,5,Üniversite,1,10,14
8,9,Ömer Gencay ünlü,ATİLLA,5,2,8,6,6,1,3,3,Çalışıyor,2,7,14
9,10,Aylin Tarakcı,ATİLLA,7,3,7,2,5,1,2,4,Yüksek Lisans,1,10,9
10,11,Hatice,ATİLLA,7,2,7,6,4,1,3,1,Yüksek Lisans,1,9,13
11,12,ŞENOL YILDIZ,ATİLLA,4,1,4,0,2,1,2,3,Üniversite,3,5,4
12,13,Emine Nisa KAPUKAYA,ATİLLA,6,2,7,3,5,1,2,2,Çalışıyor,2,8,10
13,14,Vildan ÜNLÜ,ATİLLA,5,3,6,2,3,1,3,4,Üniversite,1,8,8
14,15,Alican Şahin,ATİLLA,8,2,8,5,8,1,4,3,Yüksek Lisans,1,10,13
15,16,Reşat Uğur Ulu,ATİLLA,0,0,0,0,0,1,1,1,Çalışıyor,4,0,0

In [24]:
#En çok ödevi yapan kişi veya kişiler
g1[g1.Toplam_Ödev == g1.Toplam_Ödev.max()]["Öğrenci_Adı_Soyadı"]

3    Mert Açıkgöz
Name: Öğrenci_Adı_Soyadı, dtype: object

In [25]:
#Udemyde en çok dersi izleyen kişi veya kişiler
g1[g1.Udemy_İzlenilen_Ders == g1.Udemy_İzlenilen_Ders.max()]["Öğrenci_Adı_Soyadı"]

3          Mert Açıkgöz
6            Tuğbay Tez
7    Fatih Kulaksizoglu
Name: Öğrenci_Adı_Soyadı, dtype: object

In [26]:
#1.gruptaki öğrencilerin mentordan aldığı puan durumları
for i in range(len(g1.Öğrenci_Adı_Soyadı)):
    print("{0} {1} teknik, {2} uyum  toplam {3} puan ".format(g1.Öğrenci_Adı_Soyadı[i],g1.Teknik_Puan[i],g1.Uyum_Puan[i],g1.Teknik_Puan[i]+g1.Uyum_Puan[i]))

Bartu Yaman 4 teknik, 4 uyum  toplam 8 puan
Selin ÖZENÇ 3 teknik, 4 uyum  toplam 7 puan
Aslı CERMAN 4 teknik, 5 uyum  toplam 9 puan
Mert Açıkgöz 5 teknik, 3 uyum  toplam 8 puan
Semra Tebrizcik 3 teknik, 2 uyum  toplam 5 puan
Seda 4 teknik, 3 uyum  toplam 7 puan
Tuğbay Tez 4 teknik, 4 uyum  toplam 8 puan
Fatih Kulaksizoglu 3 teknik, 5 uyum  toplam 8 puan
Ömer Gencay ünlü 3 teknik, 3 uyum  toplam 6 puan
Aylin Tarakcı 2 teknik, 4 uyum  toplam 6 puan
Hatice 3 teknik, 1 uyum  toplam 4 puan
ŞENOL YILDIZ 2 teknik, 3 uyum  toplam 5 puan
Emine Nisa KAPUKAYA 2 teknik, 2 uyum  toplam 4 puan
Vildan ÜNLÜ 3 teknik, 4 uyum  toplam 7 puan
Alican Şahin 4 teknik, 3 uyum  toplam 7 puan
Reşat Uğur Ulu 1 teknik, 1 uyum  toplam 2 puan

In [27]:
#dataframe e toplam ödev sayısını ekledik
g1["Toplam_Mentor_Puan"] = g1.Teknik_Puan + g1.Uyum_Puan
g1

/Users/simgeerek/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım,Toplam_Katılım,Toplam_Ödev,Toplam_Mentor_Puan
0,1,Bartu Yaman,ATİLLA,6,3,8,6,4,1,4,4,Üniversite,1,9,14,8
1,2,Selin ÖZENÇ,ATİLLA,6,1,6,5,3,1,3,4,Çalışıyor,3,7,11,7
2,3,Aslı CERMAN,ATİLLA,8,3,8,6,7,1,4,5,Yüksek Lisans,1,11,14,9
3,4,Mert Açıkgöz,ATİLLA,8,3,8,9,15,1,5,3,Üniversite,1,11,17,8
4,5,Semra Tebrizcik,ATİLLA,6,2,3,1,4,1,3,2,Çalışıyor,2,8,4,5
5,6,Seda,ATİLLA,6,2,8,6,9,1,4,3,Üniversite,2,8,14,7
6,7,Tuğbay Tez,ATİLLA,6,2,8,5,15,1,4,4,Üniversite,2,8,13,8
7,8,Fatih Kulaksizoglu,ATİLLA,7,3,7,7,15,1,3,5,Üniversite,1,10,14,8
8,9,Ömer Gencay ünlü,ATİLLA,5,2,8,6,6,1,3,3,Çalışıyor,2,7,14,6
9,10,Aylin Tarakcı,ATİLLA,7,3,7,2,5,1,2,4,Yüksek Lisans,1,10,9,6
10,11,Hatice,ATİLLA,7,2,7,6,4,1,3,1,Yüksek Lisans,1,9,13,4
11,12,ŞENOL YILDIZ,ATİLLA,4,1,4,0,2,1,2,3,Üniversite,3,5,4,5
12,13,Emine Nisa KAPUKAYA,ATİLLA,6,2,7,3,5,1,2,2,Çalışıyor,2,8,10,4
13,14,Vildan ÜNLÜ,ATİLLA,5,3,6,2,3,1,3,4,Üniversite,1,8,8,7
14,15,Alican Şahin,ATİLLA,8,2,8,5,8,1,4,3,Yüksek Lisans,1,10,13,7
15,16,Reşat Uğur Ulu,ATİLLA,0,0,0,0,0,1,1,1,Çalışıyor,4,0,0,2

In [28]:
#En yüksek mentor puanını alan kişi veya kişiler
g1[g1.Toplam_Mentor_Puan == g1.Toplam_Mentor_Puan.max()]["Öğrenci_Adı_Soyadı"]

2    Aslı CERMAN
Name: Öğrenci_Adı_Soyadı, dtype: object

In [29]:
g1["SKOR"] = g1.Teknik_Puan + g1.Uyum_Puan + g1.Udemy_İzlenilen_Ders + g1.Zorunlu_Ödev + g1.Seçmeli_Ödev + g1.Katıldığı_Ders + g1.Katıldığı_Mentor_Görüşmesi
g1

/Users/simgeerek/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım,Toplam_Katılım,Toplam_Ödev,Toplam_Mentor_Puan,SKOR
0,1,Bartu Yaman,ATİLLA,6,3,8,6,4,1,4,4,Üniversite,1,9,14,8,35
1,2,Selin ÖZENÇ,ATİLLA,6,1,6,5,3,1,3,4,Çalışıyor,3,7,11,7,28
2,3,Aslı CERMAN,ATİLLA,8,3,8,6,7,1,4,5,Yüksek Lisans,1,11,14,9,41
3,4,Mert Açıkgöz,ATİLLA,8,3,8,9,15,1,5,3,Üniversite,1,11,17,8,51
4,5,Semra Tebrizcik,ATİLLA,6,2,3,1,4,1,3,2,Çalışıyor,2,8,4,5,21
5,6,Seda,ATİLLA,6,2,8,6,9,1,4,3,Üniversite,2,8,14,7,38
6,7,Tuğbay Tez,ATİLLA,6,2,8,5,15,1,4,4,Üniversite,2,8,13,8,44
7,8,Fatih Kulaksizoglu,ATİLLA,7,3,7,7,15,1,3,5,Üniversite,1,10,14,8,47
8,9,Ömer Gencay ünlü,ATİLLA,5,2,8,6,6,1,3,3,Çalışıyor,2,7,14,6,33
9,10,Aylin Tarakcı,ATİLLA,7,3,7,2,5,1,2,4,Yüksek Lisans,1,10,9,6,30
10,11,Hatice,ATİLLA,7,2,7,6,4,1,3,1,Yüksek Lisans,1,9,13,4,30
11,12,ŞENOL YILDIZ,ATİLLA,4,1,4,0,2,1,2,3,Üniversite,3,5,4,5,16
12,13,Emine Nisa KAPUKAYA,ATİLLA,6,2,7,3,5,1,2,2,Çalışıyor,2,8,10,4,27
13,14,Vildan ÜNLÜ,ATİLLA,5,3,6,2,3,1,3,4,Üniversite,1,8,8,7,26
14,15,Alican Şahin,ATİLLA,8,2,8,5,8,1,4,3,Yüksek Lisans,1,10,13,7,38
15,16,Reşat Uğur Ulu,ATİLLA,0,0,0,0,0,1,1,1,Çalışıyor,4,0,0,2,2

# Bütün grupların incelenmesi için fonskiyon

In [30]:
def inceleme(dataframe):
    mentor_adları = df["Mentor_Adı"].unique()
    for ad in mentor_adları :
        g = df
        g= df[df.Mentor_Adı == ad]
        
        print("\n\n")
        print(df[df.Mentor_Adı == ad].Grup_Numarası[g.index[0]],".GRUP")
        print("Mentor: " , ad, end="\n\n")
        
        print("GÖRÜŞME VE DERSLERE KATILIM DURUMU", end="\n\n")
        for i in g.index:
            print("{0} {1} ders, {2} mentor görüşmesi toplam {3} katılım".format(g.Öğrenci_Adı_Soyadı[i],g.Katıldığı_Ders[i],g.Katıldığı_Mentor_Görüşmesi[i],g.Katıldığı_Ders[i]+g.Katıldığı_Mentor_Görüşmesi[i]))
        
        print("\n\n")
        
        print("YAPILAN ÖDEV SAYILARI", end="\n\n")
        for i in g.index:
            print("{0} {1} zorunlu, {2} seçmeli  toplam {3} ödev".format(g.Öğrenci_Adı_Soyadı[i],g.Zorunlu_Ödev[i],g.Seçmeli_Ödev[i],g.Zorunlu_Ödev[i]+g.Seçmeli_Ödev[i]))
        
        print("\n\n")   
       
        print("ALINAN MENTOR PUANLARI", end="\n\n")
        for i in g.index:
            print("{0} {1} teknik, {2} uyum  toplam {3} puan ".format(g.Öğrenci_Adı_Soyadı[i],g.Teknik_Puan[i],g.Uyum_Puan[i],g.Teknik_Puan[i]+g.Uyum_Puan[i]))
        
        print("\n\n")
        
        print("SKORLAR")
        for i in g.index:
             print("{0} SKOR --> {1} ".format(g.Öğrenci_Adı_Soyadı[i],g.Teknik_Puan[i] + g.Uyum_Puan[i] + g.Udemy_İzlenilen_Ders[i] + g.Zorunlu_Ödev[i] + g.Seçmeli_Ödev[i] + g.Katıldığı_Ders[i] + g.Katıldığı_Mentor_Görüşmesi[i]))

In [31]:
mentor_adları = df["Mentor_Adı"].unique()
inceleme(df)

1 .GRUP
Mentor:  ATİLLA

GÖRÜŞME VE DERSLERE KATILIM DURUMU

Bartu Yaman 6 ders, 3 mentor görüşmesi toplam 9 katılım
Selin ÖZENÇ 6 ders, 1 mentor görüşmesi toplam 7 katılım
Aslı CERMAN 8 ders, 3 mentor görüşmesi toplam 11 katılım
Mert Açıkgöz 8 ders, 3 mentor görüşmesi toplam 11 katılım
Semra Tebrizcik 6 ders, 2 mentor görüşmesi toplam 8 katılım
Seda 6 ders, 2 mentor görüşmesi toplam 8 katılım
Tuğbay Tez 6 ders, 2 mentor görüşmesi toplam 8 katılım
Fatih Kulaksizoglu 7 ders, 3 mentor görüşmesi toplam 10 katılım
Ömer Gencay ünlü 5 ders, 2 mentor görüşmesi toplam 7 katılım
Aylin Tarakcı 7 ders, 3 mentor görüşmesi toplam 10 katılım
Hatice 7 ders, 2 mentor görüşmesi toplam 9 katılım
ŞENOL YILDIZ 4 ders, 1 mentor görüşmesi toplam 5 katılım
Emine Nisa KAPUKAYA 6 ders, 2 mentor görüşmesi toplam 8 katılım
Vildan ÜNLÜ 5 ders, 3 mentor görüşmesi toplam 8 katılım
Alican Şahin 8 ders, 2 mentor görüşmesi toplam 10 katılım
Reşat Uğur Ulu 0 ders, 0 mentor görüşmesi toplam 0 katılım



YAPILAN ÖDEV SAYILARI

Bartu Yaman 8 zorunlu, 6 seçmeli  toplam 14 ödev
Selin ÖZENÇ 6 zorunlu, 5 seçmeli  toplam 11 ödev
Aslı CERMAN 8 zorunlu, 6 seçmeli  toplam 14 ödev
Mert Açıkgöz 8 zorunlu, 9 seçmeli  toplam 17 ödev
Semra Tebrizcik 3 zorunlu, 1 seçmeli  toplam 4 ödev
Seda 8 zorunlu, 6 seçmeli  toplam 14 ödev
Tuğbay Tez 8 zorunlu, 5 seçmeli  toplam 13 ödev
Fatih Kulaksizoglu 7 zorunlu, 7 seçmeli  toplam 14 ödev
Ömer Gencay ünlü 8 zorunlu, 6 seçmeli  toplam 14 ödev
Aylin Tarakcı 7 zorunlu, 2 seçmeli  toplam 9 ödev
Hatice 7 zorunlu, 6 seçmeli  toplam 13 ödev
ŞENOL YILDIZ 4 zorunlu, 0 seçmeli  toplam 4 ödev
Emine Nisa KAPUKAYA 7 zorunlu, 3 seçmeli  toplam 10 ödev
Vildan ÜNLÜ 6 zorunlu, 2 seçmeli  toplam 8 ödev
Alican Şahin 8 zorunlu, 5 seçmeli  toplam 13 ödev
Reşat Uğur Ulu 0 zorunlu, 0 seçmeli  toplam 0 ödev



ALINAN MENTOR PUANLARI

Bartu Yaman 4 teknik, 4 uyum  toplam 8 puan
Selin ÖZENÇ 3 teknik, 4 uyum  toplam 7 puan
Aslı CERMAN 4 teknik, 5 uyum  toplam 9 puan
Mert Açıkgöz 5 teknik, 3 uyum  toplam 8 puan
Semra Tebrizcik 3 teknik, 2 uyum  toplam 5 puan
Seda 4 teknik, 3 uyum  toplam 7 puan
Tuğbay Tez 4 teknik, 4 uyum  toplam 8 puan
Fatih Kulaksizoglu 3 teknik, 5 uyum  toplam 8 puan
Ömer Gencay ünlü 3 teknik, 3 uyum  toplam 6 puan
Aylin Tarakcı 2 teknik, 4 uyum  toplam 6 puan
Hatice 3 teknik, 1 uyum  toplam 4 puan
ŞENOL YILDIZ 2 teknik, 3 uyum  toplam 5 puan
Emine Nisa KAPUKAYA 2 teknik, 2 uyum  toplam 4 puan
Vildan ÜNLÜ 3 teknik, 4 uyum  toplam 7 puan
Alican Şahin 4 teknik, 3 uyum  toplam 7 puan
Reşat Uğur Ulu 1 teknik, 1 uyum  toplam 2 puan



SKORLAR
Bartu Yaman SKOR --> 35
Selin ÖZENÇ SKOR --> 28
Aslı CERMAN SKOR --> 41
Mert Açıkgöz SKOR --> 51
Semra Tebrizcik SKOR --> 21
Seda SKOR --> 38
Tuğbay Tez SKOR --> 44
Fatih Kulaksizoglu SKOR --> 47
Ömer Gencay ünlü SKOR --> 33
Aylin Tarakcı SKOR --> 30
Hatice SKOR --> 30
ŞENOL YILDIZ SKOR --> 16
Emine Nisa KAPUKAYA SKOR --> 27
Vildan ÜNLÜ SKOR --> 26
Alican Şahin SKOR --> 38
Reşat Uğur Ulu SKOR --> 2



2 .GRUP
Mentor:  MUHAMMET

GÖRÜŞME VE DERSLERE KATILIM DURUMU

Barış Bayar 8 ders, 2 mentor görüşmesi toplam 10 katılım
Beren Sak 6 ders, 3 mentor görüşmesi toplam 9 katılım
Mert Ertürk 8 ders, 3 mentor görüşmesi toplam 11 katılım
Şahin Uzunşimşek 8 ders, 3 mentor görüşmesi toplam 11 katılım
AHMET KARAGOZ 5 ders, 2 mentor görüşmesi toplam 7 katılım
Basri Şahin 6 ders, 1 mentor görüşmesi toplam 7 katılım
ayşegül karaçoban 0 ders, 0 mentor görüşmesi toplam 0 katılım
Kemal Özdemir 7 ders, 3 mentor görüşmesi toplam 10 katılım
Ahmet Turan Şener 7 ders, 2 mentor görüşmesi toplam 9 katılım
Mehmet Emin Baydilli 7 ders, 3 mentor görüşmesi toplam 10 katılım
Burcu Bayram Yılmaz 8 ders, 3 mentor görüşmesi toplam 11 katılım
Ali Baltacı 8 ders, 3 mentor görüşmesi toplam 11 katılım
Yakup Kaplan 8 ders, 3 mentor görüşmesi toplam 11 katılım
Ahmet Yılmaz 8 ders, 3 mentor görüşmesi toplam 11 katılım
Filiz Özkan 6 ders, 3 mentor görüşmesi toplam 9 katılım



YAPILAN ÖDEV SAYILARI

Barış Bayar 7 zorunlu, 1 seçmeli  toplam 8 ödev
Beren Sak 8 zorunlu, 5 seçmeli  toplam 13 ödev
Mert Ertürk 6 zorunlu, 2 seçmeli  toplam 8 ödev
Şahin Uzunşimşek 8 zorunlu, 4 seçmeli  toplam 12 ödev
AHMET KARAGOZ 8 zorunlu, 9 seçmeli  toplam 17 ödev
Basri Şahin 0 zorunlu, 0 seçmeli  toplam 0 ödev
ayşegül karaçoban 0 zorunlu, 0 seçmeli  toplam 0 ödev
Kemal Özdemir 8 zorunlu, 1 seçmeli  toplam 9 ödev
Ahmet Turan Şener 8 zorunlu, 3 seçmeli  toplam 11 ödev
Mehmet Emin Baydilli 8 zorunlu, 9 seçmeli  toplam 17 ödev
Burcu Bayram Yılmaz 8 zorunlu, 5 seçmeli  toplam 13 ödev
Ali Baltacı 8 zorunlu, 7 seçmeli  toplam 15 ödev
Yakup Kaplan 8 zorunlu, 9 seçmeli  toplam 17 ödev
Ahmet Yılmaz 8 zorunlu, 5 seçmeli  toplam 13 ödev
Filiz Özkan 8 zorunlu, 5 seçmeli  toplam 13 ödev



ALINAN MENTOR PUANLARI

Barış Bayar 3 teknik, 1 uyum  toplam 4 puan
Beren Sak 2 teknik, 2 uyum  toplam 4 puan
Mert Ertürk 3 teknik, 3 uyum  toplam 6 puan
Şahin Uzunşimşek 4 teknik, 5 uyum  toplam 9 puan
AHMET KARAGOZ 5 teknik, 4 uyum  toplam 9 puan
Basri Şahin 2 teknik, 5 uyum  toplam 7 puan
ayşegül karaçoban 1 teknik, 1 uyum  toplam 2 puan
Kemal Özdemir 4 teknik, 4 uyum  toplam 8 puan
Ahmet Turan Şener 5 teknik, 1 uyum  toplam 6 puan
Mehmet Emin Baydilli 5 teknik, 3 uyum  toplam 8 puan
Burcu Bayram Yılmaz 4 teknik, 3 uyum  toplam 7 puan
Ali Baltacı 4 teknik, 2 uyum  toplam 6 puan
Yakup Kaplan 4 teknik, 5 uyum  toplam 9 puan
Ahmet Yılmaz 3 teknik, 4 uyum  toplam 7 puan
Filiz Özkan 2 teknik, 2 uyum  toplam 4 puan



SKORLAR
Barış Bayar SKOR --> 25
Beren Sak SKOR --> 31
Mert Ertürk SKOR --> 28
Şahin Uzunşimşek SKOR --> 41
AHMET KARAGOZ SKOR --> 48
Basri Şahin SKOR --> 17
ayşegül karaçoban SKOR --> 2
Kemal Özdemir SKOR --> 32
Ahmet Turan Şener SKOR --> 33
Mehmet Emin Baydilli SKOR --> 50
Burcu Bayram Yılmaz SKOR --> 34
Ali Baltacı SKOR --> 41
Yakup Kaplan SKOR --> 52
Ahmet Yılmaz SKOR --> 44
Filiz Özkan SKOR --> 28



3 .GRUP
Mentor:  MEHMET

GÖRÜŞME VE DERSLERE KATILIM DURUMU

Mustafa Kemal Yağan 2 ders, 1 mentor görüşmesi toplam 3 katılım
Burak Büyük Yağmur 6 ders, 2 mentor görüşmesi toplam 8 katılım
İlker Yıldız 8 ders, 2 mentor görüşmesi toplam 10 katılım
Mehmet Keleş 8 ders, 3 mentor görüşmesi toplam 11 katılım
Arif Eker 8 ders, 3 mentor görüşmesi toplam 11 katılım
Merve Torkan 8 ders, 2 mentor görüşmesi toplam 10 katılım
Işıl GÜLER 6 ders, 3 mentor görüşmesi toplam 9 katılım
Simge Erek 7 ders, 2 mentor görüşmesi toplam 9 katılım
Ayyüce Kaytazcı 8 ders, 2 mentor görüşmesi toplam 10 katılım
Selen Susuz 6 ders, 3 mentor görüşmesi toplam 9 katılım
Kübra Ersoy 4 ders, 1 mentor görüşmesi toplam 5 katılım
Merve Yorulmaz 6 ders, 2 mentor görüşmesi toplam 8 katılım
Cemal Cem Taştan 8 ders, 2 mentor görüşmesi toplam 10 katılım
Fikret Aysel 7 ders, 1 mentor görüşmesi toplam 8 katılım
Tayfun Canikli 8 ders, 2 mentor görüşmesi toplam 10 katılım



YAPILAN ÖDEV SAYILARI

Mustafa Kemal Yağan 0 zorunlu, 0 seçmeli  toplam 0 ödev
Burak Büyük Yağmur 8 zorunlu, 3 seçmeli  toplam 11 ödev
İlker Yıldız 6 zorunlu, 4 seçmeli  toplam 10 ödev
Mehmet Keleş 8 zorunlu, 8 seçmeli  toplam 16 ödev
Arif Eker 8 zorunlu, 9 seçmeli  toplam 17 ödev
Merve Torkan 6 zorunlu, 4 seçmeli  toplam 10 ödev
Işıl GÜLER 8 zorunlu, 7 seçmeli  toplam 15 ödev
Simge Erek 8 zorunlu, 8 seçmeli  toplam 16 ödev
Ayyüce Kaytazcı 6 zorunlu, 4 seçmeli  toplam 10 ödev
Selen Susuz 8 zorunlu, 5 seçmeli  toplam 13 ödev
Kübra Ersoy 0 zorunlu, 0 seçmeli  toplam 0 ödev
Merve Yorulmaz 6 zorunlu, 2 seçmeli  toplam 8 ödev
Cemal Cem Taştan 4 zorunlu, 0 seçmeli  toplam 4 ödev
Fikret Aysel 6 zorunlu, 5 seçmeli  toplam 11 ödev
Tayfun Canikli 3 zorunlu, 0 seçmeli  toplam 3 ödev



ALINAN MENTOR PUANLARI

Mustafa Kemal Yağan 1 teknik, 1 uyum  toplam 2 puan
Burak Büyük Yağmur 5 teknik, 4 uyum  toplam 9 puan
İlker Yıldız 4 teknik, 5 uyum  toplam 9 puan
Mehmet Keleş 3 teknik, 3 uyum  toplam 6 puan
Arif Eker 3 teknik, 2 uyum  toplam 5 puan
Merve Torkan 4 teknik, 5 uyum  toplam 9 puan
Işıl GÜLER 4 teknik, 3 uyum  toplam 7 puan
Simge Erek 4 teknik, 3 uyum  toplam 7 puan
Ayyüce Kaytazcı 3 teknik, 1 uyum  toplam 4 puan
Selen Susuz 4 teknik, 2 uyum  toplam 6 puan
Kübra Ersoy 1 teknik, 5 uyum  toplam 6 puan
Merve Yorulmaz 2 teknik, 3 uyum  toplam 5 puan
Cemal Cem Taştan 2 teknik, 4 uyum  toplam 6 puan
Fikret Aysel 5 teknik, 2 uyum  toplam 7 puan
Tayfun Canikli 2 teknik, 3 uyum  toplam 5 puan



SKORLAR
Mustafa Kemal Yağan SKOR --> 16
Burak Büyük Yağmur SKOR --> 32
İlker Yıldız SKOR --> 40
Mehmet Keleş SKOR --> 48
Arif Eker SKOR --> 38
Merve Torkan SKOR --> 33
Işıl GÜLER SKOR --> 33
Simge Erek SKOR --> 35
Ayyüce Kaytazcı SKOR --> 35
Selen Susuz SKOR --> 31
Kübra Ersoy SKOR --> 11
Merve Yorulmaz SKOR --> 21
Cemal Cem Taştan SKOR --> 25
Fikret Aysel SKOR --> 41
Tayfun Canikli SKOR --> 21



4 .GRUP
Mentor:  KASIM

GÖRÜŞME VE DERSLERE KATILIM DURUMU

Şükrü TAŞ 5 ders, 3 mentor görüşmesi toplam 8 katılım
Şeyma Özler 1 ders, 0 mentor görüşmesi toplam 1 katılım
Mehmet Tan 6 ders, 3 mentor görüşmesi toplam 9 katılım
HAMDİ BOYRAZ 7 ders, 3 mentor görüşmesi toplam 10 katılım
İbrahim Ethem SAKALLI 8 ders, 3 mentor görüşmesi toplam 11 katılım
İlyas Tunç 7 ders, 3 mentor görüşmesi toplam 10 katılım
Zafer U 8 ders, 3 mentor görüşmesi toplam 11 katılım
Murat Işıklı 7 ders, 2 mentor görüşmesi toplam 9 katılım
Sertuğ Serkan Güzel 5 ders, 2 mentor görüşmesi toplam 7 katılım
Emre Ay 2 ders, 0 mentor görüşmesi toplam 2 katılım
Eray Can EROĞUL 7 ders, 3 mentor görüşmesi toplam 10 katılım
Duygu Koçak 6 ders, 3 mentor görüşmesi toplam 9 katılım
şükran nur cücü 3 ders, 3 mentor görüşmesi toplam 6 katılım
Özge Göksu 4 ders, 1 mentor görüşmesi toplam 5 katılım
Afra Nur Arıkan 4 ders, 1 mentor görüşmesi toplam 5 katılım



YAPILAN ÖDEV SAYILARI

Şükrü TAŞ 8 zorunlu, 6 seçmeli  toplam 14 ödev
Şeyma Özler 0 zorunlu, 0 seçmeli  toplam 0 ödev
Mehmet Tan 8 zorunlu, 7 seçmeli  toplam 15 ödev
HAMDİ BOYRAZ 6 zorunlu, 4 seçmeli  toplam 10 ödev
İbrahim Ethem SAKALLI 8 zorunlu, 7 seçmeli  toplam 15 ödev
İlyas Tunç 6 zorunlu, 3 seçmeli  toplam 9 ödev
Zafer U 8 zorunlu, 9 seçmeli  toplam 17 ödev
Murat Işıklı 8 zorunlu, 3 seçmeli  toplam 11 ödev
Sertuğ Serkan Güzel 8 zorunlu, 9 seçmeli  toplam 17 ödev
Emre Ay 7 zorunlu, 0 seçmeli  toplam 7 ödev
Eray Can EROĞUL 8 zorunlu, 4 seçmeli  toplam 12 ödev
Duygu Koçak 6 zorunlu, 1 seçmeli  toplam 7 ödev
şükran nur cücü 7 zorunlu, 0 seçmeli  toplam 7 ödev
Özge Göksu 6 zorunlu, 1 seçmeli  toplam 7 ödev
Afra Nur Arıkan 6 zorunlu, 2 seçmeli  toplam 8 ödev



ALINAN MENTOR PUANLARI

Şükrü TAŞ 4 teknik, 4 uyum  toplam 8 puan
Şeyma Özler 1 teknik, 1 uyum  toplam 2 puan
Mehmet Tan 3 teknik, 5 uyum  toplam 8 puan
HAMDİ BOYRAZ 3 teknik, 4 uyum  toplam 7 puan
İbrahim Ethem SAKALLI 5 teknik, 3 uyum  toplam 8 puan
İlyas Tunç 4 teknik, 3 uyum  toplam 7 puan
Zafer U 5 teknik, 2 uyum  toplam 7 puan
Murat Işıklı 4 teknik, 2 uyum  toplam 6 puan
Sertuğ Serkan Güzel 5 teknik, 1 uyum  toplam 6 puan
Emre Ay 3 teknik, 1 uyum  toplam 4 puan
Eray Can EROĞUL 3 teknik, 5 uyum  toplam 8 puan
Duygu Koçak 3 teknik, 4 uyum  toplam 7 puan
şükran nur cücü 2 teknik, 4 uyum  toplam 6 puan
Özge Göksu 3 teknik, 4 uyum  toplam 7 puan
Afra Nur Arıkan 3 teknik, 3 uyum  toplam 6 puan



SKORLAR
Şükrü TAŞ SKOR --> 39
Şeyma Özler SKOR --> 3
Mehmet Tan SKOR --> 37
HAMDİ BOYRAZ SKOR --> 35
İbrahim Ethem SAKALLI SKOR --> 38
İlyas Tunç SKOR --> 30
Zafer U SKOR --> 48
Murat Işıklı SKOR --> 29
Sertuğ Serkan Güzel SKOR --> 36
Emre Ay SKOR --> 13
Eray Can EROĞUL SKOR --> 38
Duygu Koçak SKOR --> 23
şükran nur cücü SKOR --> 19
Özge Göksu SKOR --> 22
Afra Nur Arıkan SKOR --> 22



5 .GRUP
Mentor:  GÜNCE

GÖRÜŞME VE DERSLERE KATILIM DURUMU

Ilgın Sıla Pehlivan 6 ders, 1 mentor görüşmesi toplam 7 katılım
Aylin Göktuğ 8 ders, 3 mentor görüşmesi toplam 11 katılım
Kenan Arslanbay 8 ders, 3 mentor görüşmesi toplam 11 katılım
Mehmet Rızgıç 5 ders, 1 mentor görüşmesi toplam 6 katılım
Emirhan Yurtseven 7 ders, 3 mentor görüşmesi toplam 10 katılım
Eylül Akkurt 8 ders, 2 mentor görüşmesi toplam 10 katılım
Duygu Öztürk 6 ders, 3 mentor görüşmesi toplam 9 katılım
Gülhatun Ortadağ 8 ders, 1 mentor görüşmesi toplam 9 katılım
Elif OZTURK 8 ders, 3 mentor görüşmesi toplam 11 katılım
Hüseyin Kaya 7 ders, 2 mentor görüşmesi toplam 9 katılım
Emre Gur 7 ders, 1 mentor görüşmesi toplam 8 katılım
Esat Akköse 7 ders, 3 mentor görüşmesi toplam 10 katılım
Umut Altun 6 ders, 3 mentor görüşmesi toplam 9 katılım



YAPILAN ÖDEV SAYILARI

Ilgın Sıla Pehlivan 8 zorunlu, 7 seçmeli  toplam 15 ödev
Aylin Göktuğ 8 zorunlu, 5 seçmeli  toplam 13 ödev
Kenan Arslanbay 8 zorunlu, 6 seçmeli  toplam 14 ödev
Mehmet Rızgıç 4 zorunlu, 2 seçmeli  toplam 6 ödev
Emirhan Yurtseven 8 zorunlu, 7 seçmeli  toplam 15 ödev
Eylül Akkurt 8 zorunlu, 6 seçmeli  toplam 14 ödev
Duygu Öztürk 8 zorunlu, 2 seçmeli  toplam 10 ödev
Gülhatun Ortadağ 3 zorunlu, 1 seçmeli  toplam 4 ödev
Elif OZTURK 7 zorunlu, 6 seçmeli  toplam 13 ödev
Hüseyin Kaya 8 zorunlu, 6 seçmeli  toplam 14 ödev
Emre Gur 7 zorunlu, 2 seçmeli  toplam 9 ödev
Esat Akköse 8 zorunlu, 6 seçmeli  toplam 14 ödev
Umut Altun 6 zorunlu, 3 seçmeli  toplam 9 ödev



ALINAN MENTOR PUANLARI

Ilgın Sıla Pehlivan 4 teknik, 4 uyum  toplam 8 puan
Aylin Göktuğ 5 teknik, 3 uyum  toplam 8 puan
Kenan Arslanbay 5 teknik, 3 uyum  toplam 8 puan
Mehmet Rızgıç 4 teknik, 5 uyum  toplam 9 puan
Emirhan Yurtseven 3 teknik, 3 uyum  toplam 6 puan
Eylül Akkurt 4 teknik, 2 uyum  toplam 6 puan
Duygu Öztürk 4 teknik, 1 uyum  toplam 5 puan
Gülhatun Ortadağ 3 teknik, 3 uyum  toplam 6 puan
Elif OZTURK 4 teknik, 4 uyum  toplam 8 puan
Hüseyin Kaya 5 teknik, 4 uyum  toplam 9 puan
Emre Gur 4 teknik, 5 uyum  toplam 9 puan
Esat Akköse 5 teknik, 5 uyum  toplam 10 puan
Umut Altun 4 teknik, 4 uyum  toplam 8 puan



SKORLAR
Ilgın Sıla Pehlivan SKOR --> 41
Aylin Göktuğ SKOR --> 37
Kenan Arslanbay SKOR --> 44
Mehmet Rızgıç SKOR --> 36
Emirhan Yurtseven SKOR --> 43
Eylül Akkurt SKOR --> 44
Duygu Öztürk SKOR --> 24
Gülhatun Ortadağ SKOR --> 25
Elif OZTURK SKOR --> 40
Hüseyin Kaya SKOR --> 37
Emre Gur SKOR --> 31
Esat Akköse SKOR --> 41
Umut Altun SKOR --> 30

# En İyi Skora Sahip Öğrenciler

In [32]:
df.head()

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım
0,1,Bartu Yaman,ATİLLA,6,3,8,6,4,1,4,4,Üniversite,1
1,2,Selin ÖZENÇ,ATİLLA,6,1,6,5,3,1,3,4,Çalışıyor,3
2,3,Aslı CERMAN,ATİLLA,8,3,8,6,7,1,4,5,Yüksek Lisans,1
3,4,Mert Açıkgöz,ATİLLA,8,3,8,9,15,1,5,3,Üniversite,1
4,5,Semra Tebrizcik,ATİLLA,6,2,3,1,4,1,3,2,Çalışıyor,2

In [33]:
#dataframe e toplam katılımları ekledik
df["Toplam_Katılım"] = df.Katıldığı_Ders + df.Katıldığı_Mentor_Görüşmesi
df

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım,Toplam_Katılım
0,1,Bartu Yaman,ATİLLA,6,3,8,6,4,1,4,4,Üniversite,1,9
1,2,Selin ÖZENÇ,ATİLLA,6,1,6,5,3,1,3,4,Çalışıyor,3,7
2,3,Aslı CERMAN,ATİLLA,8,3,8,6,7,1,4,5,Yüksek Lisans,1,11
3,4,Mert Açıkgöz,ATİLLA,8,3,8,9,15,1,5,3,Üniversite,1,11
4,5,Semra Tebrizcik,ATİLLA,6,2,3,1,4,1,3,2,Çalışıyor,2,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,70,Elif OZTURK,GÜNCE,8,3,7,6,8,5,4,4,Üniversite,1,11
70,71,Hüseyin Kaya,GÜNCE,7,2,8,6,5,5,5,4,Üniversite,2,9
71,72,Emre Gur,GÜNCE,7,1,7,2,5,5,4,5,Çalışıyor,3,8
72,73,Esat Akköse,GÜNCE,7,3,8,6,7,5,5,5,Üniversite,1,10
73,74,Umut Altun,GÜNCE,6,3,6,3,4,5,4,4,Çalışıyor,1,9

In [34]:
#dataframe e toplam ödev sayısını ekledik
df["Toplam_Ödev"] = df.Zorunlu_Ödev + df.Seçmeli_Ödev
df

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım,Toplam_Katılım,Toplam_Ödev
0,1,Bartu Yaman,ATİLLA,6,3,8,6,4,1,4,4,Üniversite,1,9,14
1,2,Selin ÖZENÇ,ATİLLA,6,1,6,5,3,1,3,4,Çalışıyor,3,7,11
2,3,Aslı CERMAN,ATİLLA,8,3,8,6,7,1,4,5,Yüksek Lisans,1,11,14
3,4,Mert Açıkgöz,ATİLLA,8,3,8,9,15,1,5,3,Üniversite,1,11,17
4,5,Semra Tebrizcik,ATİLLA,6,2,3,1,4,1,3,2,Çalışıyor,2,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,70,Elif OZTURK,GÜNCE,8,3,7,6,8,5,4,4,Üniversite,1,11,13
70,71,Hüseyin Kaya,GÜNCE,7,2,8,6,5,5,5,4,Üniversite,2,9,14
71,72,Emre Gur,GÜNCE,7,1,7,2,5,5,4,5,Çalışıyor,3,8,9
72,73,Esat Akköse,GÜNCE,7,3,8,6,7,5,5,5,Üniversite,1,10,14
73,74,Umut Altun,GÜNCE,6,3,6,3,4,5,4,4,Çalışıyor,1,9,9

In [35]:
#dataframe e toplam ödev sayısını ekledik
df["Toplam_Mentor_Puan"] = df.Teknik_Puan + df.Uyum_Puan
df

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım,Toplam_Katılım,Toplam_Ödev,Toplam_Mentor_Puan
0,1,Bartu Yaman,ATİLLA,6,3,8,6,4,1,4,4,Üniversite,1,9,14,8
1,2,Selin ÖZENÇ,ATİLLA,6,1,6,5,3,1,3,4,Çalışıyor,3,7,11,7
2,3,Aslı CERMAN,ATİLLA,8,3,8,6,7,1,4,5,Yüksek Lisans,1,11,14,9
3,4,Mert Açıkgöz,ATİLLA,8,3,8,9,15,1,5,3,Üniversite,1,11,17,8
4,5,Semra Tebrizcik,ATİLLA,6,2,3,1,4,1,3,2,Çalışıyor,2,8,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,70,Elif OZTURK,GÜNCE,8,3,7,6,8,5,4,4,Üniversite,1,11,13,8
70,71,Hüseyin Kaya,GÜNCE,7,2,8,6,5,5,5,4,Üniversite,2,9,14,9
71,72,Emre Gur,GÜNCE,7,1,7,2,5,5,4,5,Çalışıyor,3,8,9,9
72,73,Esat Akköse,GÜNCE,7,3,8,6,7,5,5,5,Üniversite,1,10,14,10
73,74,Umut Altun,GÜNCE,6,3,6,3,4,5,4,4,Çalışıyor,1,9,9,8

In [36]:
df["SKOR"] = df.Teknik_Puan + df.Uyum_Puan + df.Udemy_İzlenilen_Ders + df.Zorunlu_Ödev + df.Seçmeli_Ödev + df.Katıldığı_Ders + df.Katıldığı_Mentor_Görüşmesi
df

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım,Toplam_Katılım,Toplam_Ödev,Toplam_Mentor_Puan,SKOR
0,1,Bartu Yaman,ATİLLA,6,3,8,6,4,1,4,4,Üniversite,1,9,14,8,35
1,2,Selin ÖZENÇ,ATİLLA,6,1,6,5,3,1,3,4,Çalışıyor,3,7,11,7,28
2,3,Aslı CERMAN,ATİLLA,8,3,8,6,7,1,4,5,Yüksek Lisans,1,11,14,9,41
3,4,Mert Açıkgöz,ATİLLA,8,3,8,9,15,1,5,3,Üniversite,1,11,17,8,51
4,5,Semra Tebrizcik,ATİLLA,6,2,3,1,4,1,3,2,Çalışıyor,2,8,4,5,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,70,Elif OZTURK,GÜNCE,8,3,7,6,8,5,4,4,Üniversite,1,11,13,8,40
70,71,Hüseyin Kaya,GÜNCE,7,2,8,6,5,5,5,4,Üniversite,2,9,14,9,37
71,72,Emre Gur,GÜNCE,7,1,7,2,5,5,4,5,Çalışıyor,3,8,9,9,31
72,73,Esat Akköse,GÜNCE,7,3,8,6,7,5,5,5,Üniversite,1,10,14,10,41
73,74,Umut Altun,GÜNCE,6,3,6,3,4,5,4,4,Çalışıyor,1,9,9,8,30

In [37]:
df.sort_values("SKOR", ascending = False)

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım,Toplam_Katılım,Toplam_Ödev,Toplam_Mentor_Puan,SKOR
28,29,Yakup Kaplan,MUHAMMET,8,3,8,9,15,2,4,5,Çalışıyor,1,11,17,9,52
3,4,Mert Açıkgöz,ATİLLA,8,3,8,9,15,1,5,3,Üniversite,1,11,17,8,51
25,26,Mehmet Emin Baydilli,MUHAMMET,7,3,8,9,15,2,5,3,Yüksek Lisans,1,10,17,8,50
34,35,Mehmet Keleş,MEHMET,8,3,8,8,15,3,3,3,Üniversite,1,11,16,6,48
20,21,AHMET KARAGOZ,MUHAMMET,5,2,8,9,15,2,5,4,Üniversite,2,7,17,9,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,56,Emre Ay,KASIM,2,0,7,0,0,4,3,1,Çalışıyor,4,2,7,4,13
41,42,Kübra Ersoy,MEHMET,4,1,0,0,0,3,1,5,Çalışıyor,3,5,0,6,11
47,48,Şeyma Özler,KASIM,1,0,0,0,0,4,1,1,Çalışıyor,4,1,0,2,3
22,23,ayşegül karaçoban,MUHAMMET,0,0,0,0,0,2,1,1,Çalışıyor,4,0,0,2,2
15,16,Reşat Uğur Ulu,ATİLLA,0,0,0,0,0,1,1,1,Çalışıyor,4,0,0,2,2

In [38]:
#Udumy derslerini etkisiz kılarak inceleme
df["SKOR(Udemysiz)"] = df.Teknik_Puan + df.Uyum_Puan  + df.Zorunlu_Ödev + df.Seçmeli_Ödev + df.Katıldığı_Ders + df.Katıldığı_Mentor_Görüşmesi
df

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım,Toplam_Katılım,Toplam_Ödev,Toplam_Mentor_Puan,SKOR,SKOR(Udemysiz)
0,1,Bartu Yaman,ATİLLA,6,3,8,6,4,1,4,4,Üniversite,1,9,14,8,35,31
1,2,Selin ÖZENÇ,ATİLLA,6,1,6,5,3,1,3,4,Çalışıyor,3,7,11,7,28,25
2,3,Aslı CERMAN,ATİLLA,8,3,8,6,7,1,4,5,Yüksek Lisans,1,11,14,9,41,34
3,4,Mert Açıkgöz,ATİLLA,8,3,8,9,15,1,5,3,Üniversite,1,11,17,8,51,36
4,5,Semra Tebrizcik,ATİLLA,6,2,3,1,4,1,3,2,Çalışıyor,2,8,4,5,21,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,70,Elif OZTURK,GÜNCE,8,3,7,6,8,5,4,4,Üniversite,1,11,13,8,40,32
70,71,Hüseyin Kaya,GÜNCE,7,2,8,6,5,5,5,4,Üniversite,2,9,14,9,37,32
71,72,Emre Gur,GÜNCE,7,1,7,2,5,5,4,5,Çalışıyor,3,8,9,9,31,26
72,73,Esat Akköse,GÜNCE,7,3,8,6,7,5,5,5,Üniversite,1,10,14,10,41,34
73,74,Umut Altun,GÜNCE,6,3,6,3,4,5,4,4,Çalışıyor,1,9,9,8,30,26

In [39]:
df.sort_values("SKOR(Udemysiz)", ascending = False)

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım,Toplam_Katılım,Toplam_Ödev,Toplam_Mentor_Puan,SKOR,SKOR(Udemysiz)
28,29,Yakup Kaplan,MUHAMMET,8,3,8,9,15,2,4,5,Çalışıyor,1,11,17,9,52,37
3,4,Mert Açıkgöz,ATİLLA,8,3,8,9,15,1,5,3,Üniversite,1,11,17,8,51,36
25,26,Mehmet Emin Baydilli,MUHAMMET,7,3,8,9,15,2,5,3,Yüksek Lisans,1,10,17,8,50,35
52,53,Zafer U,KASIM,8,3,8,9,13,4,5,2,Çalışıyor,1,11,17,7,48,35
72,73,Esat Akköse,GÜNCE,7,3,8,6,7,5,5,5,Üniversite,1,10,14,10,41,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,42,Kübra Ersoy,MEHMET,4,1,0,0,0,3,1,5,Çalışıyor,3,5,0,6,11,11
31,32,Mustafa Kemal Yağan,MEHMET,2,1,0,0,11,3,1,1,Çalışıyor,3,3,0,2,16,5
47,48,Şeyma Özler,KASIM,1,0,0,0,0,4,1,1,Çalışıyor,4,1,0,2,3,3
15,16,Reşat Uğur Ulu,ATİLLA,0,0,0,0,0,1,1,1,Çalışıyor,4,0,0,2,2,2
22,23,ayşegül karaçoban,MUHAMMET,0,0,0,0,0,2,1,1,Çalışıyor,4,0,0,2,2,2

In [40]:
#Udemysiz max skor 38
df[df["SKOR(Udemysiz)"] >= 33].sort_values("SKOR(Udemysiz)", ascending = False)

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım,Toplam_Katılım,Toplam_Ödev,Toplam_Mentor_Puan,SKOR,SKOR(Udemysiz)
28,29,Yakup Kaplan,MUHAMMET,8,3,8,9,15,2,4,5,Çalışıyor,1,11,17,9,52,37
3,4,Mert Açıkgöz,ATİLLA,8,3,8,9,15,1,5,3,Üniversite,1,11,17,8,51,36
25,26,Mehmet Emin Baydilli,MUHAMMET,7,3,8,9,15,2,5,3,Yüksek Lisans,1,10,17,8,50,35
52,53,Zafer U,KASIM,8,3,8,9,13,4,5,2,Çalışıyor,1,11,17,7,48,35
2,3,Aslı CERMAN,ATİLLA,8,3,8,6,7,1,4,5,Yüksek Lisans,1,11,14,9,41,34
50,51,İbrahim Ethem SAKALLI,KASIM,8,3,8,7,4,4,5,3,Çalışıyor,1,11,15,8,38,34
72,73,Esat Akköse,GÜNCE,7,3,8,6,7,5,5,5,Üniversite,1,10,14,10,41,34
20,21,AHMET KARAGOZ,MUHAMMET,5,2,8,9,15,2,5,4,Üniversite,2,7,17,9,48,33
34,35,Mehmet Keleş,MEHMET,8,3,8,8,15,3,3,3,Üniversite,1,11,16,6,48,33
35,36,Arif Eker,MEHMET,8,3,8,9,5,3,3,2,Üniversite,1,11,17,5,38,33
63,64,Kenan Arslanbay,GÜNCE,8,3,8,6,11,5,5,3,Çalışıyor,1,11,14,8,44,33

In [41]:
#Maksimum elde edilebilecek skor 53'tür. 
df[df["SKOR"] >= 44].sort_values("SKOR", ascending = False)

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım,Toplam_Katılım,Toplam_Ödev,Toplam_Mentor_Puan,SKOR,SKOR(Udemysiz)
28,29,Yakup Kaplan,MUHAMMET,8,3,8,9,15,2,4,5,Çalışıyor,1,11,17,9,52,37
3,4,Mert Açıkgöz,ATİLLA,8,3,8,9,15,1,5,3,Üniversite,1,11,17,8,51,36
25,26,Mehmet Emin Baydilli,MUHAMMET,7,3,8,9,15,2,5,3,Yüksek Lisans,1,10,17,8,50,35
20,21,AHMET KARAGOZ,MUHAMMET,5,2,8,9,15,2,5,4,Üniversite,2,7,17,9,48,33
34,35,Mehmet Keleş,MEHMET,8,3,8,8,15,3,3,3,Üniversite,1,11,16,6,48,33
52,53,Zafer U,KASIM,8,3,8,9,13,4,5,2,Çalışıyor,1,11,17,7,48,35
7,8,Fatih Kulaksizoglu,ATİLLA,7,3,7,7,15,1,3,5,Üniversite,1,10,14,8,47,32
6,7,Tuğbay Tez,ATİLLA,6,2,8,5,15,1,4,4,Üniversite,2,8,13,8,44,29
29,30,Ahmet Yılmaz,MUHAMMET,8,3,8,5,13,2,3,4,Çalışıyor,1,11,13,7,44,31
63,64,Kenan Arslanbay,GÜNCE,8,3,8,6,11,5,5,3,Çalışıyor,1,11,14,8,44,33
66,67,Eylül Akkurt,GÜNCE,8,2,8,6,14,5,4,2,Çalışıyor,1,10,14,6,44,30

In [42]:
# Udemyde izlenilen derslerin etkisiz olduğu skor > Mentor Puanı > Udemy Derslerinin etkili olduğu skor
Yeni_Yetenek= df[(df["SKOR"] >= 44 )&(df["SKOR(Udemysiz)"] >= 33)&(df["Toplam_Mentor_Puan"] >= 7)].sort_values(["SKOR(Udemysiz)","Toplam_Mentor_Puan","SKOR"], ascending = False)
Yeni_Yetenek

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım,Toplam_Katılım,Toplam_Ödev,Toplam_Mentor_Puan,SKOR,SKOR(Udemysiz)
28,29,Yakup Kaplan,MUHAMMET,8,3,8,9,15,2,4,5,Çalışıyor,1,11,17,9,52,37
3,4,Mert Açıkgöz,ATİLLA,8,3,8,9,15,1,5,3,Üniversite,1,11,17,8,51,36
25,26,Mehmet Emin Baydilli,MUHAMMET,7,3,8,9,15,2,5,3,Yüksek Lisans,1,10,17,8,50,35
52,53,Zafer U,KASIM,8,3,8,9,13,4,5,2,Çalışıyor,1,11,17,7,48,35
20,21,AHMET KARAGOZ,MUHAMMET,5,2,8,9,15,2,5,4,Üniversite,2,7,17,9,48,33
63,64,Kenan Arslanbay,GÜNCE,8,3,8,6,11,5,5,3,Çalışıyor,1,11,14,8,44,33

In [43]:
#Yapılan Ödevler Derslere Görüşmeler Katılım Mentor Puanlamasında Öne çıkan isimler
Yeni_Yetenek["Öğrenci_Adı_Soyadı"]

28            Yakup Kaplan
3             Mert Açıkgöz
25    Mehmet Emin Baydilli
52                 Zafer U
20           AHMET KARAGOZ
63         Kenan Arslanbay
Name: Öğrenci_Adı_Soyadı, dtype: object

# RFM ANALİZİ

Recency : en son ne zaman mentor görüşmesine katıldı

Frequency : toplam kaç der ve mentor görüşmesine katılmıştır

In [76]:
df.head()

,Id,Öğrenci_Adı_Soyadı,Mentor_Adı,Katıldığı_Ders,Katıldığı_Mentor_Görüşmesi,Zorunlu_Ödev,Seçmeli_Ödev,Udemy_İzlenilen_Ders,Grup_Numarası,Teknik_Puan,Uyum_Puan,Durum,En_Son_Katılım,Toplam_Katılım,Toplam_Ödev,Toplam_Mentor_Puan,SKOR,SKOR(Udemysiz)
0,1,Bartu Yaman,ATİLLA,6,3,8,6,4,1,4,4,Üniversite,1,9,14,8,35,31
1,2,Selin ÖZENÇ,ATİLLA,6,1,6,5,3,1,3,4,Çalışıyor,3,7,11,7,28,25
2,3,Aslı CERMAN,ATİLLA,8,3,8,6,7,1,4,5,Yüksek Lisans,1,11,14,9,41,34
3,4,Mert Açıkgöz,ATİLLA,8,3,8,9,15,1,5,3,Üniversite,1,11,17,8,51,36
4,5,Semra Tebrizcik,ATİLLA,6,2,3,1,4,1,3,2,Çalışıyor,2,8,4,5,21,17

In [77]:
recency_df = df[["Öğrenci_Adı_Soyadı","En_Son_Katılım"]]

In [78]:
recency_df.rename(columns={"En_Son_Katılım":"Recency"}, inplace = True)

In [79]:
recency_df.head()

  Öğrenci_Adı_Soyadı  Recency
0        Bartu Yaman        1
1        Selin ÖZENÇ        3
2        Aslı CERMAN        1
3       Mert Açıkgöz        1
4    Semra Tebrizcik        2

In [80]:
freq_df = df[["Öğrenci_Adı_Soyadı","Toplam_Katılım"]]

In [81]:
freq_df.rename(columns={"Toplam_Katılım":"Frequency"}, inplace = True)

In [82]:
freq_df.head()

  Öğrenci_Adı_Soyadı  Frequency
0        Bartu Yaman          9
1        Selin ÖZENÇ          7
2        Aslı CERMAN         11
3       Mert Açıkgöz         11
4    Semra Tebrizcik          8

In [83]:
freq_df.shape

(74, 2)

In [84]:
recency_df.shape

(74, 2)

In [85]:
rfm = df[["Öğrenci_Adı_Soyadı","En_Son_Katılım","Toplam_Katılım"]]

In [86]:
rfm.rename(columns={"En_Son_Katılım":"Recency"}, inplace = True)
rfm.rename(columns={"Toplam_Katılım":"Frequency"}, inplace = True)

In [55]:
rfm.head()

  Öğrenci_Adı_Soyadı  Recency  Frequency
0        Bartu Yaman        1          9
1        Selin ÖZENÇ        3          7
2        Aslı CERMAN        1         11
3       Mert Açıkgöz        1         11
4    Semra Tebrizcik        2          8

In [88]:
rfm["RecencyScore"] =  pd.qcut(rfm["Recency"].rank(method="first"), 5, labels = [5, 4, 3, 2, 1])

/Users/simgeerek/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [89]:
rfm.head()

  Öğrenci_Adı_Soyadı  Recency  Frequency RecencyScore
0        Bartu Yaman        1          9            5
1        Selin ÖZENÇ        3          7            1
2        Aslı CERMAN        1         11            5
3       Mert Açıkgöz        1         11            5
4    Semra Tebrizcik        2          8            3

In [90]:
rfm["FrequencyScore"] = pd.qcut(rfm["Frequency"].rank(method="first"), 5, labels = [1, 2, 3, 4, 5])

/Users/simgeerek/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [91]:
rfm.head()

  Öğrenci_Adı_Soyadı  Recency  Frequency RecencyScore FrequencyScore
0        Bartu Yaman        1          9            5              2
1        Selin ÖZENÇ        3          7            1              1
2        Aslı CERMAN        1         11            5              5
3       Mert Açıkgöz        1         11            5              5
4    Semra Tebrizcik        2          8            3              2

In [92]:
(rfm["RecencyScore"].astype(str)+
rfm["FrequencyScore"].astype(str)).head()

0    52
1    11
2    55
3    55
4    32
dtype: object

In [93]:
# rfm skorları kategorik değere dönüştürülüp df'e eklendi
rfm["RFM_SCORE"] = (rfm['RecencyScore'].astype(str) + 
                    rfm['FrequencyScore'].astype(str))

/Users/simgeerek/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [94]:
rfm.head()

  Öğrenci_Adı_Soyadı  Recency  Frequency RecencyScore FrequencyScore RFM_SCORE
0        Bartu Yaman        1          9            5              2        52
1        Selin ÖZENÇ        3          7            1              1        11
2        Aslı CERMAN        1         11            5              5        55
3       Mert Açıkgöz        1         11            5              5        55
4    Semra Tebrizcik        2          8            3              2        32

In [95]:
rfm.describe().T

           count      mean       std  min  25%  50%   75%   max
Recency     74.0  1.635135  0.884793  1.0  1.0  1.0   2.0   4.0
Frequency   74.0  8.513514  2.581511  0.0  8.0  9.0  10.0  11.0

In [96]:
# Regular Expressions (Düzenli İfadeler) kullanılarak RFM haritası çıkarıldı
seg_map = {
    r'[1-2][1-2]': 'Hibernating',
    r'[1-2][3-4]': 'At Risk',
    r'[1-2]5': 'Can\'t Loose',
    r'3[1-2]': 'About to Sleep',
    r'33': 'Need Attention',
    r'[3-4][4-5]': 'Loyal Customers',
    r'41': 'Promising',
    r'51': 'New Customers',
    r'[4-5][2-3]': 'Potential Loyalists',
    r'5[4-5]': 'Champions'
}

In [97]:
rfm['Segment'] = rfm['RecencyScore'].astype(str) + rfm['FrequencyScore'].astype(str)

/Users/simgeerek/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [98]:
rfm.head()

,Öğrenci_Adı_Soyadı,Recency,Frequency,RecencyScore,FrequencyScore,RFM_SCORE,Segment
0,Bartu Yaman,1,9,5,2,52,52
1,Selin ÖZENÇ,3,7,1,1,11,11
2,Aslı CERMAN,1,11,5,5,55,55
3,Mert Açıkgöz,1,11,5,5,55,55
4,Semra Tebrizcik,2,8,3,2,32,32

In [99]:
rfm['Segment'] = rfm['Segment'].replace(seg_map, regex=True)

/Users/simgeerek/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [100]:
rfm.head()

,Öğrenci_Adı_Soyadı,Recency,Frequency,RecencyScore,FrequencyScore,RFM_SCORE,Segment
0,Bartu Yaman,1,9,5,2,52,Potential Loyalists
1,Selin ÖZENÇ,3,7,1,1,11,Hibernating
2,Aslı CERMAN,1,11,5,5,55,Champions
3,Mert Açıkgöz,1,11,5,5,55,Champions
4,Semra Tebrizcik,2,8,3,2,32,About to Sleep

In [101]:
rfm[["Segment","Recency","Frequency"]].groupby("Segment").agg(["mean","median","count"])

                      Recency               Frequency
                         mean median count       mean median count
Segment
About to Sleep       1.500000    1.5     2   7.000000      7     2
At Risk              2.000000    2.0     7   9.428571      9     7
Champions            1.000000    1.0     9  10.555556     11     9
Hibernating          2.695652    3.0    23   5.652174      7    23
Loyal Customers      1.000000    1.0    18  10.555556     11    18
Need Attention       1.000000    1.0     3   9.000000      9     3
Potential Loyalists  1.000000    1.0    12   9.000000      9    12

In [102]:
rfm[rfm["Segment"] == "Can't Loose"]["Öğrenci_Adı_Soyadı"]

Series([], Name: Öğrenci_Adı_Soyadı, dtype: object)

In [103]:
cl_df = pd.DataFrame()

In [104]:
cl_df["CantLoose"] = rfm[rfm["Segment"] == "Can't Loose"]["Öğrenci_Adı_Soyadı"]

In [105]:
cl_df.head()

Empty DataFrame
Columns: [CantLoose]
Index: []

In [106]:
risk_df = pd.DataFrame()

In [107]:
risk_df["At Risk"] = rfm[rfm["Segment"] == "At Risk"]["Öğrenci_Adı_Soyadı"]

In [108]:
risk_df.head()

              At Risk
24  Ahmet Turan Şener
33       İlker Yıldız
36       Merve Torkan
39    Ayyüce Kaytazcı
53       Murat Işıklı

In [109]:
hibernating_df = pd.DataFrame()

In [110]:
hibernating_df["Hibernating"] = rfm[rfm["Segment"] == "Hibernating"]["Öğrenci_Adı_Soyadı"]

In [111]:
hibernating_df.head()

         Hibernating
1        Selin ÖZENÇ
5               Seda
6         Tuğbay Tez
8   Ömer Gencay ünlü
11      ŞENOL YILDIZ

In [112]:
new_df = pd.DataFrame()
#new_df["Öğrenci_Adı_Soyadı"] = [hibernating_df["Hibernating"] risk_df["At Risk"]

In [113]:
names = []

for name in hibernating_df["Hibernating"]:
    names.append(name)

for name in cl_df["CantLoose"]:
    names.append(name)

for name in risk_df["At Risk"]:
    names.append(name)

In [114]:
new_df = pd.DataFrame()
new_df["Öğrenci_Adı_Soyadı"] = names

In [115]:
new_df

     Öğrenci_Adı_Soyadı
0           Selin ÖZENÇ
1                  Seda
2            Tuğbay Tez
3      Ömer Gencay ünlü
4          ŞENOL YILDIZ
5   Emine Nisa KAPUKAYA
6        Reşat Uğur Ulu
7         AHMET KARAGOZ
8           Basri Şahin
9     ayşegül karaçoban
10  Mustafa Kemal Yağan
11   Burak Büyük Yağmur
12          Kübra Ersoy
13       Merve Yorulmaz
14         Fikret Aysel
15          Şeyma Özler
16  Sertuğ Serkan Güzel
17              Emre Ay
18           Özge Göksu
19      Afra Nur Arıkan
20  Ilgın Sıla Pehlivan
21        Mehmet Rızgıç
22             Emre Gur
23    Ahmet Turan Şener
24         İlker Yıldız
25         Merve Torkan
26      Ayyüce Kaytazcı
27         Murat Işıklı
28     Gülhatun Ortadağ
29         Hüseyin Kaya

In [116]:
new_df["Segment"] = [rfm[rfm["Öğrenci_Adı_Soyadı"]==j].Segment.values for j in  new_df.Öğrenci_Adı_Soyadı for i in rfm.Öğrenci_Adı_Soyadı if j == i ]

In [117]:
new_df

     Öğrenci_Adı_Soyadı        Segment
0           Selin ÖZENÇ  [Hibernating]
1                  Seda  [Hibernating]
2            Tuğbay Tez  [Hibernating]
3      Ömer Gencay ünlü  [Hibernating]
4          ŞENOL YILDIZ  [Hibernating]
5   Emine Nisa KAPUKAYA  [Hibernating]
6        Reşat Uğur Ulu  [Hibernating]
7         AHMET KARAGOZ  [Hibernating]
8           Basri Şahin  [Hibernating]
9     ayşegül karaçoban  [Hibernating]
10  Mustafa Kemal Yağan  [Hibernating]
11   Burak Büyük Yağmur  [Hibernating]
12          Kübra Ersoy  [Hibernating]
13       Merve Yorulmaz  [Hibernating]
14         Fikret Aysel  [Hibernating]
15          Şeyma Özler  [Hibernating]
16  Sertuğ Serkan Güzel  [Hibernating]
17              Emre Ay  [Hibernating]
18           Özge Göksu  [Hibernating]
19      Afra Nur Arıkan  [Hibernating]
20  Ilgın Sıla Pehlivan  [Hibernating]
21        Mehmet Rızgıç  [Hibernating]
22             Emre Gur  [Hibernating]
23    Ahmet Turan Şener      [At Risk]
24         İlker Yıldız      [At Risk]
25         Merve Torkan      [At Risk]
26      Ayyüce Kaytazcı      [At Risk]
27         Murat Işıklı      [At Risk]
28     Gülhatun Ortadağ      [At Risk]
29         Hüseyin Kaya      [At Risk]

In [118]:
new_df.to_csv("ogrenciListe.csv") # df'i kaydet